<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1>Tasks:</h1>
  <div>
    <a href="/tasks/1">1. Line Rasterisation</a>
  </div>
  <div>
    <a href="/tasks/2">2. Circle Rasterisation</a>
  </div>
  <div>
    <a href="/tasks/3">3. Boundary Fill</a>
  </div>
</body>
</html>