<!DOCTYPE html>
<html>
<head>
  <script type="module" src="rasterise_line.js"></script>
</head>
<body>
  <form method="post" action="">
    <div style="float:left;">
      Pixel Size:</div>
    <div style="text-align:center; float:left;">
      <input type="number" id="pixelSize" name="pixelSize" min="1" value="1">
    </div>
    <div style="float:left;" >
      X1:
    </div>
    <div style="float:left;">
      <input type="number" id="x1" name="x1" min="0" value="0">
    </div>
    <div style="float:left;">
      Y1:
    </div>
    <div style="float:left;">
      <input type="number" id="y1" name="y1" min="0" value="0">
    </div>
    <div style="float:left;">
      X2:
    </div>
    <div style="float:left;">
      <input type="number" id="x2" name="x2" min="0" value="0">
    </div>
    <div style="float:left;">
      Y2:
    </div>
    <div style="float:left;">
      <input type="number" id="y2" name="y2" min="0" value="0">
    </div>
    <div>
      <input type="submit" id="rasterise" value="Rasterise">
    </div>
  </form>
</body>
</html>
