<!DOCTYPE html>
<html>
<head>
  <script type="module" src="rasterise_lines.js"></script>
</head>
<body>
  <div id="input-fields-container">
    <div style="float:left;">
      <div>
        Pixel Size:
      </div>
      <div>
        <input type="number" id="pixel-size" name="pixel-size" min="1" value="1">
      </div>
    </div>
    <div style="float:left;">
      <div>
        Pixel Map Width:
      </div>
      <div style="float:left;">
        <input type="number" id="pixel-map-width" name="pixel-map-width" min="1" value="512">
      </div>
    </div>
    <div>
      <div>
        Pixel Map Height:
      </div>
      <div>
        <input type="number" id="pixel-map-height" name="pixel-map-height" min="1" value="512">
      </div>
    </div>
  </div>
  <div>
    <input type="submit" id="add-line" value="Add Line">
  </div>
  <div>
    <input type="submit" id="rasterise" value="Rasterise">
  </div>
  <div id="canvas-container">
  </div>
</body>
</html>
